<div class="container">
	<div class="masthead">

		<!-- greeting line and locales button -->
		<div class="container">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
					{{'LANGUAGES' | translate}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="" ng-show="! showingEnglish()"><a href="" ng-click="toggleLanguageEnglish()">EN</a></li>
					<li class="" ng-show="!showingFrench()"><a href="" ng-click="toggleLanguageToFrench()">FR</a></li>
				</ul>
			</div>
			<h3 class="muted">{{'GREETINGS' | translate}} Rwenzori!</h3>
		</div>		

		<!-- fixed navbar -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li class=""><a href="/"><i class="icon-home"></i>Rwenzori</a></li>
							<li class="divider-vertical"></li>
							<li class="divider"></li>
							<li class="" ng-show="!loggedIn()"><a href="/login">{{'LOGIN' | translate}}</a></li>
							<li class="dropdown" id="user-menu" ng-show="loggedIn()">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown">Welcome, {{general.username}}
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li class="" ng-show="canDevelop()"><a tabindex="-1" href="/list">Start Project</a></li>
									<li class="" ng-show="canDevelop()"><a tabindex="-1" href="/list">Complete Project</a></li>
									<li class="divider" ng-show="canDevelop()"></li>
									<li class="">
										<a tabindex="-1" href="/new">{{'SURVEYBTN' | translate}}</a>
									</li>
									<li class="divider"></li>
									<li class="">
										<a tabindex="-1" href="/logout"><i class="icon-off"></i> Log Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	

	<div class="hero-unit">
		<blockquote class="pull-right">
			<p>Life is what happens to us when we are busy making other plans</p>
			<small>John Lenon</small>
		</blockquote>
	</div>

	<div class="jumbotron">
		<h1>{{'MOBILEPHONETITLE' | translate}}</h1>
		<p class="lead">{{'MOBILEPHONESUBTITLE' | translate}}</p>
		<h2><span class="badge badge-info">34</span>{{getSurveySummary()}}</h2>
		<div class="download-info">
			<a class="btn btn-large btn-success" href="/survey">{{'SURVEYBTN' | translate}}</a>
		</div>
	</div>
	<div class="container">
		<div class="pagination-centered">
			<div class="row-fluid">
				<div class="span4  small">
					<div class="well">
						<h3>{{'BRANDTITLE' | translate}}</h3>
					</div>
					<div class="welly">
						<p>{{'BRANDCONTENT' | translate}}</p>
					</div>
				</div>
				<div class="span4 small">
					<div class="well">
						<h3>{{'PHONEUSAGETITLE' | translate}}</h3>
					</div>
					<div class="welly">
						<p>{{'PHONEUSAGECONTENT' | translate}}</p>
					</div>
				</div>
				<div class="span4 small">
					<div class="well">
						<h3>{{'INSURANCEHABITTITLE' | translate}}</h3>
					</div>
					<div class="welly">
						<p>{{'INSURANCEHABITCONTENT' | translate}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>