<div class="container">

	<div class="masthead">
		<!-- greeting line and locales button -->
		<div class="container">
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
					{{'LANGUAGES' | translate}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li class="" ng-show="! showingEnglish()"><a href="" ng-click="toggleLanguageEnglish()">EN</a></li>
					<li class="" ng-show="!showingFrench()"><a href="" ng-click="toggleLanguageToFrench()">FR</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="span10 offset1">
		<form class="form-horizontal" name="surveyForm1">
			<div class="control-group">
				<label class="control-label" for="everUsedAPhone">{{'QUESTION0' | translate}}</label>
				<div class="controls">
					<select name="everUsedAPhone" ng-model="surveyData.everUsedAPhone" ng-options="eValue for eValue in getBoolOptions()"></select>
				</div>
			</div>
		</form>
		<br>
		<div class="hero-unit" ng-show="isPhoneUser()">
			<form class="form-horizontal" name="surveyForm">
				<fieldset>
					<legend>{{'ALREADYUSERLEGEND' | translate}}</legend>
					<div class="control-group">
						<label class="control-label" for="usageTime">{{'QUESTION10' | translate}}</label>
						<div class="controls">
							<select name="usageTime" ng-model="surveyData.usageTime" ng-options="eValue for eValue in getUsageTimeOptions()"></select>
						</div>
					</div>
						<div class="control-group">
							<label class="control-label" for="phoneCount">{{'QUESTION11' | translate}}</label>
							<div class="controls">
								<select name="phoneCount" ng-model="surveyData.phoneCount" ng-options="pcValue for pcValue in phoneCountOptions"></select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="phoneCount">{{'QUESTION12' | translate}}</label>
							<div class="controls">
								<input class="span3" ng-model="surveyData.carrierName" name="carrierName" type="text" size="16" placeholder="{{'CARRIERNAMEPH' | translate}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="phoneChange">{{'QUESTION13' | translate}}</label>
							<div class="controls">
								<select name="phoneChange" ng-model="surveyData.phoneChange" ng-options="pcValue for pcValue in getBoolOptions()"></select>
							</div>
						</div>
						<div class="control-group" ng-show="hasChangedPhone()">
							<label class="control-label" for="phoneChangeFrequency">{{'QUESTION14' | translate}}</label>
							<div class="controls">
								<select name="phoneChangeFrequency" ng-model="surveyData.phoneChangeFrequency" ng-options="pcValue for pcValue in getPhoneChangeFrequencyOptions()"></select>
							</div>
						</div>
						<div class="control-group" ng-show="hasChangedPhone()">
							<label class="control-label" for="phoneChangeCount">{{'QUESTION15' | translate}}</label>
							<div class="controls">
								<select name="phoneChangeCount" ng-model="surveyData.phoneChangeCount" ng-options="pcValue for pcValue in phoneCountOptions"></select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="phoneBrand">{{'QUESTION16' | translate}}</label>
							<div class="controls">
								<label class="checkbox inline">
								    <input type="checkbox" name="nokiaBrand" ng-model="surveyData.nokiaBrand">
								    Nokia
								</label>
								<label class="checkbox inline">
								    <input type="checkbox" name="samsungBrand" ng-model="surveyData.samsungBrand">
								    Samsung
								</label>
								<label class="checkbox inline">
								    <input type="checkbox" name="ericksonBrand" ng-model="surveyData.ericksonBrand">
								    Erickson
								</label>
								<label class="checkbox inline">
								    <input type="checkbox" name="htcBrand" ng-model="surveyData.htcBrand">
								    HTC
								</label>
							</div>
							<div class="controls">
								<label class="checkbox inline">
								    <input type="checkbox" name="iphoneBrand" ng-model="surveyData.iphoneBrand">
								    iPhone
								</label>
								<label class="checkbox inline">
								    <input type="checkbox" name="blackberryBrand" ng-model="surveyData.blackberryBrand">
								    BalckBerry
								</label>
								<label class="checkbox inline">
								    <input type="checkbox" name="motorollaBrand" ng-model="surveyData.motorollaBrand">
								    Motorolla
								</label>
								<label class="checkbox inline">
								    <input type="checkbox" name="galaxyBrand" ng-model="surveyData.galaxyBrand">
								    Galaxy
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="otherPhoneBrand">{{'QUESTION17' | translate}}</label>
							<div class="controls">
								<input class="span3" ng-model="surveyData.otherPhoneBrand" name="otherPhoneBrand" type="text" size="16" placeholder="{{'OTHERBRANDPH' | translate}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="cellphoneValue">{{'QUESTION18' | translate}}</label>
							<div class="controls">
								<select name="cellphoneValue" ng-model="surveyData.cellphoneValue" ng-options="pcValue for pcValue in phoneValueOptions"></select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="cellPhonePlan">{{'QUESTION19' | translate}}</label>
							<div class="controls">
								<select name="cellPhonePlan" ng-model="surveyData.cellPhonePlan" ng-options="plValue for plValue in getPhonePlanOptions()"></select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="willChangeCellPhone">{{'QUESTION191' | translate}}</label>
							<div class="controls">
								<select name="willChangeCellPhone" ng-model="surveyData.willChangeCellPhone" ng-options="wValue for wValue in getBoolOptions()"></select>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="control-group pull-right">
							<button class="btn btn-primary" ng-click="submitSurveyConfirmed()" ng-disabled="! canSubmitConfirmed()">{{'SUBMITBTN' | translate}} </button>
							<a href="/" class="btn">{{'CANCELBTN' | translate}} </a>
						</div>
					</fieldset>
				</fieldset>
			</form>
		</div>
		<br>
		<div class="hero-unit" ng-show="isPotentialPhoneUser()">
			<form class="form-horizontal" name="surveyForm2">
				<fieldset>
					<legend>{{'POTENTIALUSERLEGEND' | translate}}</legend>
					<div class="control-group">
						<label class="control-label" for="acquirePlan">{{'QUESTION20' | translate}}</label>
						<div class="controls">
							<select name="acquirePlan" ng-model="surveyData.acquirePlan" ng-options="eValue for eValue in getBoolOptions()"></select>
						</div>
					</div>
					<div class="control-group" ng-show="willAcquirePhone()">
						<label class="control-label" for="favoriteBrand">{{'QUESTION21' | translate}}</label>
						<div class="controls">
							<input class="span3" ng-model="surveyData.favoriteBrand" name="favoriteBrand" type="text" size="16" placeholder="{{'FAVORITEBRANDPH' | translate}}">
						</div>
					</div>
					<div class="control-group" ng-show="willAcquirePhone()">
						<label class="control-label" for="phoneValue">{{'QUESTION22' | translate}}</label>
						<div class="controls">
							<select name="phoneValue" ng-model="surveyData.phoneValue" ng-options="pValue for pValue in phoneValueOptions"></select>
						</div>
					</div>
					<div class="control-group" ng-show="willAcquirePhone()">
						<label class="control-label" for="phonePlan">{{'QUESTION23' | translate}}</label>
						<div class="controls">
							<select name="phonePlan" ng-model="surveyData.phonePlan" ng-options="plValue for plValue in getPhonePlanOptions()"></select>
						</div>
					</div>
					<div class="control-group" ng-show="willAcquirePhone()">
						<label class="control-label" for="insuranceWill">{{'QUESTION24' | translate}}</label>
						<div class="controls">
							<select name="insuranceWill" ng-model="surveyData.insuranceWill" ng-options="iwValue for iwValue in getBoolOptions()"></select>
						</div>
					</div>
					<div class="control-group" ng-show="willInsure()">
						<label class="control-label" for="insurancePercentage">{{'QUESTION25' | translate}}</label>
						<div class="controls">
							<select name="insurancePercentage" ng-model="surveyData.insurancePercentage" ng-options="ipValue for ipValue in insurancePercentageOptions"></select>
						</div>
					</div>
					<div class="control-group" ng-show="willAcquirePhone()">
						<label class="control-label" for="knowCarrier">{{'QUESTION26' | translate}}</label>
						<div class="controls">
							<select name="knowCarrier" ng-model="surveyData.knowCarrier" ng-options="cValue for cValue in getBoolOptions()"></select>
						</div>
					</div>
					<div class="control-group" ng-show="existsCarrierWithInsurancePlan()">
						<label class="control-label" for="moreOnCarrier">{{'QUESTION27' | translate}}</label>
						<div class="controls">
							<textarea class="span4" ng-model="surveyData.moreOnCarrier" name="moreOnCarrier" rows="3" placeholder="{{'CARRIERSTATEPH' | translate}}"></textarea>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="control-group pull-right">
						<button class="btn btn-primary" ng-click="submitSurvey()" ng-disabled="! canSubmitPotential()">{{'SUBMITBTN' | translate}} </button>
						<a href="/" class="btn">{{'CANCELBTN' | translate}} </a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>